{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <!--Main Section nav-->
    <section class="section-title mt-5">
        <div class="container">
            <div class="section-content">
                <h1 style="font-weight: 700; font-family: 'Montserrat', sans-serif;">Tag: <span
                        style="color: #cc007a;">{{ tag }}</span></h1>
            </div>
        </div>
    </section>
    <!--End-->

    <!--Main section-->
    <section id="main-section" class="flex align-items-center">
        <div class="container">
            <div class="row justify-between align-top">
                <div id="archive" class="col-md-10 mx-auto">
                    <ul class="list-wrapper">
                        {% for post in posts %}
                            <!-- --ITEM-- -->
                            <li>
                                <a class="list-item" href="{{ post.get_absolute_url }}">
                                    <div class="mt-2 "
                                         style="font-size: 0.875rem; line-height: 1.625rem; font-weight: 600; text-transform: uppercase; color: #222;">
                                        {{ post.created|date:"F d, Y" }} &nbsp;
                                        <!--<span class="bookmark-bar ml-auto"><i class='bx bx-bookmarks' style="color:#291e95;"></i></span>-->
                                        <!--Bookmark for post details-->
                                    </div>
                                    <div class="mt-2 title description" style="font-size: 1.68rem;">{{ post.title }}
                                    </div>
                                    <div class="mt-2 "
                                         style="font-size: 1rem; opacity: 0.8; color: #222;">{{ post.description }}
                                    </div>
                                    <div class="mt-2 read-more" style="color: #cc007a; font-size: 1rem;">
                                        <div class="d-flex align-items-center flex-wrap text-muted mb-md-0 mb-4">
                                            <div class="fs-xs border-end pe-3 me-3 mb-2">
                                                <span class="badge bg-faded-primary text-primary fs-base">{{ post.category }}</span>
                                            </div>
                                            <div class="d-flex mb-2">
                                                <div class="d-flex align-items-center me-3">
                                                    {% if user in post.likes.all %}
                                                        <i class="bx bxs-like fs-base me-1"></i>
                                                    {% else %}
                                                        <i class="bx bx-like fs-base me-1"></i>
                                                    {% endif %}
                                                    <span class="fs-sm">{{ post.number_of_likes }}</span>
                                                </div>
                                                <div class="d-flex align-items-center me-3">
                                                    <i class="bx bx-comment fs-base me-1"></i>
                                                    <span class="fs-sm">{{ post.comments.all.count }}</span>
                                                </div>
                                                <div class="d-flex align-items-center">
                                                    {% if user in post.saves.all %}
                                                        <i class="bx bxs-bookmark-alt fs-base me-1"></i>
                                                    {% else %}
                                                        <i class="bx bx-bookmark-alt fs-base me-1"></i>
                                                    {% endif %}
                                                    <span class="fs-sm">{{ post.number_of_save }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <!--end item-->
                        {% endfor %}
                    </ul>
                    <ul class="list-wrapper flex">
                        {% if posts.has_previous %}
                            <div class="mx-auto" style="font-size: 1.675rem;"><a
                                    href="?page={{ posts.previous_page_number }}" class="next-href"
                                    style="color: #291e95; font-weight: 700;"><i
                                    class="fa-solid fa-arrow-left-long"></i>&nbsp;
                                PREV</a></div>
                        {% else %}
                            <div class="mx-auto user-select-none" style="font-size: 1.675rem;"><a class="next-href"
                                                                                                  style="color: #bbb; font-weight: 700;"><i
                                    class="fa-solid fa-arrow-left-long"></i>&nbsp;
                                PREV</a></div>
                        {% endif %}
                        {% if posts.has_next %}
                            <div class="mx-auto" style="font-size: 1.675rem;"><a
                                    href="?page={{ posts.next_page_number }}"
                                    style="color:#291e95; font-weight: 700;">NEXT
                                &nbsp;<i
                                        class="fa-solid fa-arrow-right-long"></i></a></div>
                        {% else %}
                            <div class="mx-auto user-select-none" style="font-size: 1.675rem;"><a
                                    style="color:#bbb; font-weight: 700;">NEXT
                                &nbsp;<i
                                        class="fa-solid fa-arrow-right-long"></i></a></div>
                        {% endif %}


                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--Main END-->



{% endblock %}