{% extends 'base/base.html' %}
{% load static %}
{% block content %}

    <div class="progress-bar">
        <div class="bar"></div>
    </div>
    <section class="flex align-items-center">
        <div class="container">
            <div class="row article-wrapper justify-center align-top">
                <div class="article-header col-md-8">
                    <h1 class="title ">{{ post.title }}</h1>
                    <div class="d-flex align-items-center flex-wrap text-muted mb-md-0 mb-4 mt-4"
                         style="position: relative;">
                        <div class="fs-xs border-end pe-3 me-3 mb-2">
                            <span class="badge bg-faded-primary text-primary fs-base" href="/">{{ post.category }}</span>
                        </div>
                        <div class="fs-sm border-end pe-3 me-3 mb-2">{{ post.created|date:"F d, Y" }}</div>
                        <div class="d-flex mb-2">
                            <div class="d-flex align-items-center me-3">
                                <i class="bx bx-like fs-base me-1"></i>
                                <span class="fs-sm">{{ post.number_of_likes }}</span>
                            </div>
                            <div class="d-flex align-items-center me-3">
                                <i class="bx bx-comment fs-base me-1"></i>
                                <span class="fs-sm">{{ post.comments.all.count }}</span>
                            </div>
                            <a href="" class="bookmark-bar"><i class='bx bx-bookmarks'></i></a>
                            <!-- <a href="" class="bookmark-bar"><i class='bx bxs-bookmarks' ></i></a> Bookmarked -->
                        </div>
                    </div>
                </div>
                <article class="content col-md-8 col-12">
                    <h1>{{ post.title }}<br></h1>
                    <address style="display: none"><br></address>
                    <figure>
                        <div class="figure_wrapper"><img
                                src="{{ post.image.url }}"></div>
                        <figcaption></figcaption>
                    </figure>
                    <p>{{ post.body|safe }}</p>
                </article>
                <div class="div col-md-8 col-12 mb-5 d-flex flex-sm-row flex-column">
                    <h5 class="mt-sm-1 mb-sm-2 mb-3 me-2 text-nowrap">Related tags:</h5>
                    <div>
                        {% for tag in post.tags.all %}
                        <a href="/" class="btn btn-sm btn-outline-secondary me-2 mb-2">#{{ tag }}</a>
                        {% endfor %}
                    </div>
                </div>


                <div class="div col-md-8 col-12 mb-5">
                    <button type="button" class="btn btn-lg btn-outline-secondary w-100 like-btn">
                        <i class='bx bx-like bx-like1'></i>Like it<span
                            class="badge bg-primary shadow-primary mt-n1 ms-3">13</span>
                    </button>
                    <!-- <button type="button" class="btn btn-outline-success btn-lg w-100 like-btn">
                       <i class='bx bxs-like' style='color:#f51010'></i>Liked (13)
                    </button> Liked -->
                </div>

                <div class="div col-lg-7 col-md-8 col-12">
                    <div
                            class="subscribe-form"
                            id="mc-embedded-subscribe-form"
                            name="mc-embedded-subscribe-form">
                        <h5 class="fw-bolder fs-3 mb-4">Subscribe:</h5>
                        <div class="mb-4 pb-lg-3 align-items-center justify-content-between d-flex flex-wrap">
                            <a href="#" class="btn btn-icon btn-secondary btn-linkedin mb-2"
                               style="background-color: #d4d7e5; border: none;">
                                <i class="bx bxl-linkedin soical-acc"></i>
                            </a>
                            <a href="#" class="btn btn-icon btn-secondary btn-facebook mb-2"
                               style="background-color: #d4d7e5; border: none;">
                                <i class="bx bxl-facebook soical-acc"></i>
                            </a>
                            <a href="#" class="btn btn-icon btn-secondary btn-github mb-2"
                               style="background-color: #d4d7e5; border: none;">
                                <i class="bx bxl-github soical-acc"></i>
                            </a>
                            <a href="#" class="btn btn-icon btn-secondary btn-instagram mb-2"
                               style="background-color: #d4d7e5; border: none;">
                                <i class="bx bxl-instagram soical-acc"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!--Comment section-->
                <div class="col-md-8">
                    <h5 class="fw-bolder fs-1 mb-4">12 Comment so far</h5>
                    <div class="row">
                        <!--Comment-->
                        <div class="col-12">
                            <div class="py-4">
                                <div class="d-flex align-items-center justify-content-between pb-2 mb-1">
                                    <div class="d-flex align-items-center me-3">
                                        <img src="./assets/img/avatar.jpeg" class="rounded-circle" alt="Avatar"
                                             width="48">
                                        <div class="ps-3">
                                            <h6 class="fw-semibold mb-0">Esther Howard</h6>
                                            <span class="fs-sm text-muted">4 mins ago</span>
                                        </div>
                                    </div>
                                </div>
                                <p class="mb-0">Nibh enim porta ut augue felis, donec sit luctus. Quis ullamcorper dolor
                                    sit mauris. Hendrerit eu libero, eu tristique sodales ultrices etiam adipiscing.
                                    Donec viverra sodales arcu gravida nibh at. Neque lobortis quis porta integer et
                                    placerat lectus scelerisque. Velit eget malesuada morbi faucibus at sed euismod.
                                    Tortor, eu ut id tincidunt leo placerat luctus.</p>
                            </div>
                            <hr class="my-2">
                        </div>
                        <div class="col-12">
                            <div class="py-4">
                                <div class="d-flex align-items-center justify-content-between pb-2 mb-1">
                                    <div class="d-flex align-items-center me-3">
                                        <img src="./assets/img/avatar.jpeg" class="rounded-circle" alt="Avatar"
                                             width="48">
                                        <div class="ps-3">
                                            <h6 class="fw-semibold mb-0">Esther Howard</h6>
                                            <span class="fs-sm text-muted">4 mins ago</span>
                                        </div>
                                    </div>
                                </div>
                                <p class="mb-0">Nibh encerat lectus scelerisque. Velit eget malesuada morbi faucibus at
                                    sed euismod. Tortor, eu ut id tincidunt leo placerat luctus.</p>
                            </div>
                            <hr class="my-2">
                        </div>
                        <div class="col-12">
                            <div class="py-4">
                                <div class="d-flex align-items-center justify-content-between pb-2 mb-1">
                                    <div class="d-flex align-items-center me-3">
                                        <img src="./assets/img/avatar.jpeg" class="rounded-circle" alt="Avatar"
                                             width="48">
                                        <div class="ps-3">
                                            <h6 class="fw-semibold mb-0">Esther Howard</h6>
                                            <span class="fs-sm text-muted">4 mins ago</span>
                                        </div>
                                    </div>
                                </div>
                                <p class="mb-0">Nibh eniteger et placerat lectus scelerisque. Velit eget malesuada morbi
                                    faucibus at sed euismod. Tortor, eu ut id tincidunt leo placerat luctus.</p>
                            </div>
                            <hr class="my-2">
                        </div>
                        <!-- End comment -->
                    </div>
                </div>
                <div class="col-md-8">
                    <form action="." method="post" class="row gy-4 needs-validation">
                        <div class="col-12">
                            <h3 class="fw-bolder fs-3 mb-4 mt-5">Leave your Comment</h3>
                            <textarea id="c-comment" class="form-control form-control-lg" rows="3"
                                      placeholder="Type your comment here..." required=""></textarea>
                            <span class="invalid-tooltip">Please, enter your comment.</span>
                        </div>
                        <div class="col-12 w-50">
                            <button type="submit" class="btn btn-lg btn-primary w-sm-auto w-100 mt-2">Post comment
                            </button>
                        </div>
                    </form>
                </div>

                <!--Pagination-->
                <ul class="custom-pagination col-md-8 col-12">
                    <div class="pagination-list row">
                        <li class="col prev">
                            <a href="/blog/universitetda-oqishga-7-sabab/" title="Universitetda O'qishga 7 Sabab">
                                ← Previous
                            </a>
                        </li>
                        <li class="col"><a href="/blog/">See More</a></li>
                        <li class="col next">
                            <a href="/blog/yandexga-topshirish-haqida/" title="Yandex'ga Topshirish Haqida">
                                Next →
                            </a>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </section>
{% endblock %}