{% extends 'base/base.html' %}
{% load static %}
{% block meta %}
    {{ post.title }} | {{ post.description }}
{% endblock %}
{% block content %}

    <div class="progress-bar">
        <div class="bar"></div>
    </div>
    <section class="flex align-items-center">
        <div class="container">
            <div class="row article-wrapper justify-center align-top">
                <div class="article-header col-md-8">
                    <h1 class="title ">{{ post.title }}</h1>
                    <div class="d-flex align-items-center flex-wrap text-muted mb-md-0 mb-4 mt-4"
                         style="position: relative;">
                        <div class="fs-xs border-end pe-3 me-3 mb-2">
                            <a href="{% url 'category' post.category %}">
                                <span class="badge bg-faded-primary text-primary fs-base">{{ post.category }}</span></a>
                        </div>
                        <div class="fs-sm border-end pe-3 me-3 mb-2">{{ post.created|date:"F d, Y" }}</div>
                        <div class="d-flex mb-2">
                            <div class="d-flex align-items-center me-3">
                                {% if user in post.likes.all %}
                                    <i class="bx bxs-like fs-base me-1"></i>
                                {% else %}
                                    <i class="bx bx-like fs-base me-1"></i>
                                {% endif %}
                                <span class="fs-sm">{{ post.number_of_likes }}</span>
                            </div>
                            <div class="d-flex align-items-center me-3">
                                <i class="bx bx-comment fs-base me-1"></i>
                                <span class="fs-sm">{{ post.comments.all.count }}</span>
                            </div>
                            <form action="{% url 'save-post' post.id %}" method="post">{% csrf_token %}
                                {% if user.is_authenticated %}
                                    <button style="outline: none; border: none" type="submit" value="{{ post.id }}"
                                            name="post_save_id">
                                        <a class="bookmark-bar">
                                            {% if user in post.saves.all %}
                                                <i class='bx bxs-bookmarks'></i>
                                            {% else %}
                                                <i class='bx bx-bookmarks'></i>
                                            {% endif %}
                                        </a>
                                    </button>
                                {% else %}
                                    <button style="outline: none; border: none" type="button" data-bs-toggle="modal"
                                            data-bs-target="#modalSignin">
                                        <a class="bookmark-bar">
                                            {% if user in post.saves.all %}
                                                <i class='bx bxs-bookmarks'></i>
                                            {% else %}
                                                <i class='bx bx-bookmarks'></i>
                                            {% endif %}
                                        </a>
                                    </button>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
                <article class="content col-md-8 col-12">
                    <h1>{{ post.title }}<br></h1>
                    <address style="display: none"><br></address>
                    <figure>
                        <div class="figure_wrapper"><img
                                src="{{ post.image.url }}"></div>
                        <figcaption></figcaption>
                    </figure>
                    <p>{{ post.body|safe }}</p>
                </article>
                <div class="div col-md-8 col-12 mb-5 d-flex flex-sm-row flex-column" id="like-id">
                    <h5 class="mt-sm-1 mb-sm-2 mb-3 me-2 text-nowrap">Related tags:</h5>
                    <div>
                        {% for tag in post.tags.all %}
                            <a href="{% url 'tag' tag %}" class="btn btn-sm btn-outline-secondary me-2 mb-2">#{{ tag }}</a>
                        {% endfor %}
                    </div>
                </div>


                <div class="div col-md-8 col-12 mb-5">
                    <form action="{% url 'like-post' post.id %}" method="post">{% csrf_token %}
                        {% if user.is_authenticated %}
                            <button type="submit" class="btn btn-lg btn-outline-secondary w-100 like-btn"
                                    value="{{ post.id }}" name="post_id">
                                {% if user in post.likes.all %}
                                    <i class='bx bxs-like bx-like1'></i>
                                {% else %}
                                    <i class='bx bx-like bx-like1'></i>
                                {% endif %}

                                Like it<span
                                    class="badge bg-primary shadow-primary mt-n1 ms-3">{{ post.likes.all.count }}</span>
                            </button>
                        {% else %}
                            <button type="button" class="btn btn-lg btn-outline-secondary w-100 like-btn"
                                    data-bs-toggle="modal"
                                    data-bs-target="#modalSignin">
                                <i class='bx bx-like bx-like1'></i>
                                Like it<span
                                    class="badge bg-primary shadow-primary mt-n1 ms-3">{{ post.likes.all.count }}</span>
                            </button>
                        {% endif %}
                    </form>
                </div>

                <div class="div col-lg-7 col-md-8 col-12">
                    <div
                            class="subscribe-form"
                            id="mc-embedded-subscribe-form"
                            name="mc-embedded-subscribe-form">
                        <h5 class="fw-bolder fs-3 mb-4">Subscribe:</h5>
                        <div class="mb-4 pb-lg-3 align-items-center justify-content-between d-flex flex-wrap">
                            <a href="#" class="btn btn-icon btn-secondary btn-linkedin mb-2"
                               style="background-color: #d4d7e5; border: none;">
                                <i class="bx bxl-linkedin soical-acc"></i>
                            </a>
                            <a href="#" class="btn btn-icon btn-secondary btn-facebook mb-2"
                               style="background-color: #d4d7e5; border: none;">
                                <i class="bx bxl-facebook soical-acc"></i>
                            </a>
                            <a href="#" class="btn btn-icon btn-secondary btn-github mb-2"
                               style="background-color: #d4d7e5; border: none;">
                                <i class="bx bxl-github soical-acc"></i>
                            </a>
                            <a href="#" class="btn btn-icon btn-secondary btn-instagram mb-2"
                               style="background-color: #d4d7e5; border: none;">
                                <i class="bx bxl-instagram soical-acc"></i>
                            </a>
                        </div>
                    </div>
                </div>
                {% if post.allowed_comment %}
                    <!--Comment section-->
                    <div class="col-md-8">
                        {% if post.comments.all.count %}
                            <h5 class="fw-bolder fs-1 mb-4">{{ post.comments.all.count }} Comment so far</h5>
                        {% else %}
                            <h5 class="fw-bolder fs-1 mb-4">No comments yet. Be first one</h5>
                        {% endif %}
                        <div class="row">
                            {% for comment in post.comments.all %}
                                <!--Comment-->
                                <div class="col-12">
                                    <div class="py-4">
                                        <div class="d-flex align-items-center justify-content-between pb-2 mb-1">
                                            <div class="d-flex align-items-center me-3">
                                                <img src="{{ comment_picture }}" class="rounded-circle" alt="Avatar"
                                                     width="48">
                                                <div class="ps-3">
                                                    <h6 class="fw-semibold mb-0">@{{ comment.author.username }}</h6>
                                                    <span class="fs-sm text-muted">{{ comment.created|timesince }} ago</span>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="mb-0">{{ comment.comment }}</p>
                                    </div>
                                    <hr class="my-2">
                                </div>
                                <!-- End comment -->
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-8">
                        <form action="." method="post" class="row gy-4 needs-validation">{% csrf_token %}
                            <div class="col-12">
                                <h3 class="fw-bolder fs-3 mb-4 mt-5">Leave your Comment</h3>
                                <textarea id="comment_id" name="comment" type="text"
                                          class="form-control form-control-lg" rows="3"
                                          placeholder="Type your comment here..."></textarea>
                                <span class="invalid-tooltip">Please, enter your comment.</span>
                            </div>
                            <div class="col-12 w-50">
                                {% if user.is_authenticated %}
                                    <button type="submit" class="btn btn-lg btn-primary w-sm-auto w-100 mt-2">Post
                                        comment
                                    </button>
                                {% else %}
                                    <button type="button" class="btn btn-lg btn-primary w-sm-auto w-100 mt-2"
                                            data-bs-toggle="modal"
                                            data-bs-target="#modalSignin">Post comment
                                    </button>
                                {% endif %}
                            </div>
                        </form>
                    </div>
                {% endif %}
                <!--Pagination-->
                <ul class="custom-pagination col-md-8 col-12">
                    <div class="pagination-list row">
                        <li class="col prev">
                            <a href="/blog/universitetda-oqishga-7-sabab/" title="Universitetda O'qishga 7 Sabab">
                                ← Previous
                            </a>
                        </li>
                        <li class="col"><a href="/blog/">See More</a></li>
                        <li class="col next">
                            <a href="/blog/yandexga-topshirish-haqida/" title="Yandex'ga Topshirish Haqida">
                                Next →
                            </a>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </section>
{% endblock %}